<div class="container">
  <div class="row rNavBar">
    <div class="col-6 icon">
      <img src="img/icon.png" alt="icon">
      <span>RESUME</span>
    </div>
    <div class="col-6 img">
      <!-- <img src="img/my.jpg" alt="myPhoto"> -->
      <img src="img/id-photo.png" alt="myPhoto">
    </div>
    <div class="col-12 forSwitch">
      <span class="">精簡型</span>
      <label class="switch">
        <input type="checkbox" (click)="forStreamline($event.target)">
        <span class="slider round"></span>
      </label>
      <span>綜合型</span>
    </div>
  </div>

  <div class="row information">
    <div class="col-12">
      <h4>Information</h4>
    </div>
    <div class="col-lg-6 col-12 pb-2">
      <div class="row no-gutters">
        <div class="col-4 name">姓名</div>
        <div class="col-8 content">莊博雄</div>
      </div>
    </div>
    <div class="col-lg-6 col-12 pb-2">
      <div class="row no-gutters">
        <div class="col-4 name">生日</div>
        <div class="col-8 content">1993 / 11 / 09 (30歲)</div>
      </div>
    </div>
    <div class="col-lg-6 col-12 pb-2">
      <div class="row no-gutters">
        <div class="col-4 name">性別</div>
        <div class="col-8 content">男</div>
      </div>
    </div>
    <div class="col-lg-6 col-12 pb-2">
      <div class="row no-gutters">
        <div class="col-4 name">服役狀況</div>
        <div class="col-8 content">嘉義縣政府教育替代役 - 役畢</div>
      </div>
    </div>
    <div class="col-lg-6 col-12 pb-2">
      <div class="row no-gutters">
        <div class="col-4 name pb-2">最高學歷</div>
        <div class="col-8 content pb-2">東華大學 - 資訊工程學研究所<br>(2022-2024)</div>
        <div class="col-4 name">論文名稱</div>
        <div class="col-8 content">
          <span>探討新聞情緒對於不同產業指數的漲跌預測：基於機器學習與深度學習</span>
        </div>
        <!-- <div class="col-8 content">嶺東科技大學 - 資訊網路系</div> -->
      </div>
    </div>
    <div class="col-lg-6 col-12 pb-2">
      <div class="row no-gutters">
        <div class="col-4 name">工作經驗</div>
        <div class="col-8 content">華岡興業基金會 - 研發工程師<br>(2018-2021)</div>
      </div>
    </div>
    
  </div>

  <!-- 探討新聞情緒對於不同產業指數的漲跌預測：基於機器學習與深度學習 -->

<app-simplify [isSimplify]="isSimplify || false" (lightboxEmitter)="emitLightBox($event)"></app-simplify>

<app-comprehensive [isSimplify]="isSimplify || false" (lightboxEmitter)="emitLightBox($event)"></app-comprehensive>

  <!-- 圖片 Modal Start -->
  <div class="modal fade" id="lightBoxModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-80" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{lightBoxTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img [src]="lightBoxImg" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- 圖片 Modal End -->

  <footer></footer>

</div>
