<div class="container">
  <div class="row rNavBar">
    <div class="col-6 icon">
      <img src="img/icon.png" alt="icon">
      <span>RESUME</span>
    </div>
    <div class="col-6 img">
      <img src="img/my.jpg" alt="myPhoto">
    </div>
    <div class="col-12 forSwitch">
      <span class="">精簡型</span>
      <label class="switch">
        <input type="checkbox" (click)="forStreamline($event.target.checked)">
        <span class="slider round"></span>
      </label>
      <span>綜合型</span>
    </div>
  </div>

  <div class="row information">
    <div class="col-12">
      <h4>Information</h4>
    </div>
    <div class="col-lg-6 col-12">
      <div class="row no-gutters">
        <div class="col-4 name">姓名</div>
        <div class="col-8 content">莊博雄</div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="row no-gutters">
        <div class="col-4 name">生日</div>
        <div class="col-8 content">1993 / 11 / 09</div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="row no-gutters">
        <div class="col-4 name">性別</div>
        <div class="col-8 content">男</div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="row no-gutters">
        <div class="col-4 name">最高學歷</div>
        <div class="col-8 content">嶺東科技大學 - 資訊網路系</div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="row no-gutters">
        <div class="col-4 name">服役狀況</div>
        <div class="col-8 content">嘉義縣政府教育替代役 - 役畢</div>
      </div>
    </div>
  </div>

  <div class="row skill" *ngIf="isF2E">
    <div class="col-12">
      <h4>Skill</h4>
    </div>
    <div class="col-12">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                切版
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <figure>
                    <figcaption>2018 - file CSS - ToDoList</figcaption>
                    <a target="_blank" href="https://bear88130.github.io/">
                      <img src="img/skill-10.png" alt="skill-10">
                    </a>
                  </figure>
                </div>
                <div class="col-lg-6 col-md-12">
                  <figure>
                    <figcaption>2018 - bgImg CSS - Filter</figcaption>
                    <a target="_blank" href="https://bear88130.github.io/F2E-2">
                      <img src="img/skill-11.png" alt="skill-11">
                    </a>
                  </figure>
                </div>
                <div class="col-lg-6 col-md-12">
                  <figure>
                    <figcaption>2018 - Chart.js - Admin Order</figcaption>
                    <a target="_blank" href="https://bear88130.github.io/F2E-3">
                      <img src="img/skill-12.png" alt="skill-12">
                    </a>
                  </figure>
                </div>
                <div class="col-lg-6 col-md-12">
                  <figure>
                    <figcaption>2018 - Grid CSS - Product Gallery</figcaption>
                    <a target="_blank" href="https://bear88130.github.io/F2E-4">
                      <img src="img/skill-13.png" alt="skill-13">
                    </a>
                  </figure>
                </div>
                <div class="col-lg-6 col-md-12">
                  <figure>
                    <figcaption>2016 - 輪播圖應用，手刻 CSS </figcaption>
                    <a data-toggle="modal" data-target="#lightBoxModal" href="javascript:" (click)="turnLightBox('3','輪播圖應用，手刻 CSS')">
                      <img src="img/skill-3.png" alt="Forest">
                    </a>
                  </figure>
                </div>
                <div class="col-lg-6 col-md-12">
                  <figure>
                    <figcaption>2016 - 套版</figcaption>
                    <a data-toggle="modal" data-target="#lightBoxModal" href="javascript:" (click)="turnLightBox('6','套版，還不會考量設計')">
                      <img src="img/skill-6.png" alt="Forest">
                    </a>
                  </figure>
                </div>
                <div class="col-lg-6 col-md-12">
                  <figure>
                    <figcaption>2016 - BootStrap3.3.7 製作</figcaption>
                    <a data-toggle="modal" data-target="#lightBoxModal" href="javascript:" (click)="turnLightBox('8','利用 BootStrap3.3.7 製作')">
                      <img src="img/skill-8.png" alt="Forest">
                    </a>
                  </figure>
                </div>
                <div class="col-lg-6 col-md-12">
                  <figure>
                    <figcaption>2015 - 比較特別的頁面樣式 </figcaption>
                    <a data-toggle="modal" data-target="#lightBoxModal" href="javascript:" (click)="turnLightBox('1','比較特別的頁面樣式')">
                      <img src="img/skill-1.png" alt="Forest">
                    </a>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">
                Angular
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                      <figure>
                        <figcaption>2018 - Angular - Commic</figcaption>
                        <a target="_blank" href="https://bear88130.github.io/commic/">
                          <img src="img/skill-14.png" alt="skill-14">
                        </a>
                      </figure>
                    </div>
                    <div class="col-lg-6 col-md-12">
                      <figure>
                        <figcaption>2018 - Angular 初階線上課程</figcaption>
                        <a data-toggle="modal" data-target="#lightBoxModal" href="javascript:" (click)="turnLightBox('15','2018 - Angular 初階線上課程')">
                          <img src="img/skill-15.png" alt="skill-15">
                        </a>
                      </figure>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                aria-controls="collapseThree">
                GitHub
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                      <figure>
                        <figcaption>偏向用 GitHub Desktop</figcaption>
                        <a target="_blank" href="https://github.com/bear88130">
                          <img src="img/skill-16.png" alt="skill-16">
                        </a>
                      </figure>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                aria-controls="collapseThree">
                .NET WebForm
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                      <figure>
                        <figcaption>一般官網</figcaption>
                        <a target="_blank" href="http://summerhill.com.tw/">
                          <img src="img/skill-17.png" alt="skill-17">
                        </a>
                      </figure>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row experience" *ngIf="!isF2E">
    <div class="col-12">
      <h4>Experience</h4>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card" style="width: 18rem;">
        <div class="card-img" style="background-image:url('img/ex-1.jpg')"></div>
        <div class="card-body">
          <h5 class="card-title">第一次當總召</h5>
          <p class="card-text">
            學習規劃人員配置、設備、場地，邀請師長和各系學會人員參與學校運動會宣示活動。
          </p>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            學生會-學員
          </button>
        </div>
        <div class="card-note">12個月</div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card" style="width: 18rem;">
        <div class="card-img" style="background-image:url('img/ex-2.jpg')"></div>
        <div class="card-body">
          <h5 class="card-title">第二次當小隊輔</h5>
          <p class="card-text">
            幫忙學弟妹帶迎新活動，有趣的是比自己那一屆辦的更好，雖然也花費滿多時間練習。
          </p>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
            系學會-副會長
          </button>
        </div>
        <div class="card-note">12個月</div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card" style="width: 18rem;">
        <div class="card-img" style="background-image:url('img/ex-3.jpg')"></div>
        <div class="card-body">
          <h5 class="card-title">圖像記憶法</h5>
          <p class="card-text">
            在小七上班，第一周要記下很多商品項目，因為拍照太亂，所以畫圖記憶，順利度過記憶期。
          </p>
          <!-- Button trigger modal -->
          <button disabled type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">
            7-11 - 員工
          </button>
        </div>
        <div class="card-note">16個月</div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card" style="width: 18rem;">
        <div class="card-img" style="background-image:url('img/ex-4.jpg')"></div>
        <div class="card-body">
          <h5 class="card-title">月月核銷</h5>
          <p class="card-text">
            每半個月要注意：金費截止日、勞健保調整、核銷過了沒；每個月製作一式三份的核銷清單。
          </p>
          <!-- Button trigger modal -->
          <button disabled type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal4">
            科技部 - 產學研究助理
          </button>
        </div>
        <div class="card-note">12個月</div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card" style="width: 18rem;">
        <div class="card-img" style="background-image:url('img/ex-5.jpg')"></div>
        <div class="card-body">
          <h5 class="card-title">定義意義和價值</h5>
          <p class="card-text">
            整理古老的文件夾，把裡面的紙都用出來，最後變成這樣，讓未來的文件有新家。
          </p>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal5">
            嘉義縣社教科- 教育替代役
          </button>
        </div>
        <div class="card-note">10個月</div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card" style="width: 18rem;">
        <div class="card-img" style="background-image:url('img/ex-6.jpg')"></div>
        <div class="card-body">
          <h5 class="card-title">與網站生活</h5>
          <p class="card-text">
            第一次當工程師，第一次接觸客戶，第一次談合約，第一次真正上線，第一次生活都是網站。
          </p>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal6">
            科技公司- 程式設計師
          </button>
        </div>
        <div class="card-note">10個月</div>
      </div>
    </div>

    <!-- 學生會Modal Start -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">學生會-學員</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h6>帶動中小學-小隊輔</h6>
            <h6>盟主盃-總召</h6>
            <h6>畢業典禮籌備-後勤</h6>
            <h6>啦啦隊比賽-動線組</h6>
            <h6>全國社團比賽-後勤</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- 學生會Modal End -->

    <!-- 系學會Modal Start -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">系學會-副會長</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h6>21屆系會茶會-總召</h6>
            <h6>21屆迎新-隊輔長</h6>
            <h6>22屆迎新-小隊輔</h6>
            <h6>學長姐謝師宴-總召</h6>
            <h6>他們想辦很久的舞會-工作人員</h6>
            <h6>系烤-工作人員</h6>
            <h6>電競盃-工作人員</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- 系學會Modal End -->

    <!-- 7-11Modal Start -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">7-11 - 員工</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
        </div>
      </div>
    </div>
    <!-- 7-11Modal End -->

    <!-- 產學合作助理Modal Start -->
    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">科技部-產學研究助理</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
        </div>
      </div>
    </div>
    <!-- 產學合作助理Modal End -->

    <!-- 嘉義縣社會教育科Modal Start -->
    <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">嘉義縣社會教育科-教育替代役</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h6>湯爺爺贈書活動</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- 嘉義縣社會教育科Modal End -->

    <!-- 科技公司Modal Start -->
    <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">科技公司-程式設計師</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h6>.NET WebForm 一般官網 * 1</h6>
            <h6>RWD切版 * 6</h6>
            <h6>ASP 修改 *1</h6>
            <h6>客戶接洽 *5</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- 科技公司Modal End -->
  </div>

  <div class="row learn" *ngIf="!isF2E">
    <div class="col-12">
      <h4>Skill History</h4>
    </div>
    <div class="col-12">
      <div class="timeline">
        <div class="containerTime left">
          <div class="content">
            <h5>2013</h5>
            <p>從 Java 開始(已廢)</p>
          </div>
        </div>
        <div class="containerTime right">
          <div class="content">
            <h5>2014</h5>
            <details>
              <summary>第一次接觸 ASP.NET WebForm</summary>
              <ul>
                <li>無串聯資料表單事件</li>
              </ul>
            </details>
            <details>
              <summary>第一次接觸 MSSQL資料庫</summary>
              <ul>
                <li>基本資料庫CRUD</li>
              </ul>
            </details>
          </div>
        </div>
        <div class="containerTime left">
          <div class="content">
            <h5>2015</h5>
            <details>
              <summary>ASP.NET WebForm 跟資料庫搭配</summary>
              <ul>
                <li>帳號密碼登入(上網找答案)</li>
                <li>選擇題作答後統整分數</li>
              </ul>
            </details>
            <details open>
              <summary>科技部計畫(CSS)</summary>
              <ul>
                <li>比較特別的頁面樣式
                  <br>
                  <a data-toggle="modal" data-target="#lightBoxModal" href="javascript:" (click)="turnLightBox('1','比較特別的頁面樣式')">
                    <img src="img/skill-1.png" alt="Forest">
                  </a>
                </li>
                <li>使用入門 CSS
                  <br>
                  <a data-toggle="modal" data-target="#lightBoxModal" href="javascript:" (click)="turnLightBox('2','使用入門 CSS')">
                    <img src="img/skill-2.png" alt="Forest">
                  </a>
                </li>
              </ul>
            </details>

          </div>
        </div>
        <div class="containerTime right">
          <div class="content">
            <h5>2016</h5>
            <details open>
              <summary>實習網站製作(RWD)</summary>
              <ul>
                <li>輪播圖應用，手刻 CSS
                  <br>
                  <a data-toggle="modal" data-target="#lightBoxModal" href="javascript:" (click)="turnLightBox('3','輪播圖應用，手刻 CSS')">
                    <img src="img/skill-3.png" alt="Forest">
                  </a>
                </li>
                <li>搭配 .NET GridView 製作 CSS
                  <br>
                  <a data-toggle="modal" data-target="#lightBoxModal" href="javascript:" (click)="turnLightBox('4','搭配 .NET GridView 製作 CSS')">
                    <img src="img/skill-4.png" alt="Forest">
                  </a>
                </li>
                <li>使用 Google MAP 自訂地圖
                  <br>
                  <a data-toggle="modal" data-target="#lightBoxModal" href="javascript:" (click)="turnLightBox('5','使用 Google MAP 自訂地圖')">
                    <img src="img/skill-5.png" alt="Forest">
                  </a>
                </li>
              </ul>
            </details>
            <details open>
              <summary>輔佐實習網站製作(套版)</summary>
              <ul>
                <li>套版，還不會考量設計
                  <br>
                  <a data-toggle="modal" data-target="#lightBoxModal" href="javascript:" (click)="turnLightBox('6','套版，還不會考量設計')">
                    <img src="img/skill-6.png" alt="Forest">
                  </a>
                </li>
                <li>Webform 製作預約系統
                  <br>
                  <a data-toggle="modal" data-target="#lightBoxModal" href="javascript:" (click)="turnLightBox('7','Webform 製作預約系統')">
                    <img src="img/skill-7.png" alt="Forest">
                  </a>
                </li>
              </ul>
            </details>
            <details open>
              <summary>輔佐實習網站製作(BootStrap)</summary>
              <ul>
                <li>利用 BootStrap3.3.7 製作
                  <br>
                  <a data-toggle="modal" data-target="#lightBoxModal" href="javascript:" (click)="turnLightBox('8','利用 BootStrap3.3.7 製作')">
                    <img src="img/skill-8.png" alt="Forest">
                  </a>
                </li>
                <li>文字編輯器 套用
                  <br>
                  <a data-toggle="modal" data-target="#lightBoxModal" href="javascript:" (click)="turnLightBox('9','文字編輯器套用')">
                    <img src="img/skill-9.png" alt="Forest">
                  </a>
                </li>
              </ul>
            </details>
            <details>
              <summary>ASP.NET MVC 自學 + 上課</summary>
              <ul>
                <li>書店偶遇 MVC5 就開始研究 ( 耗費相當多時間，但僅利用機架做CRUD )</li>
                <li>
                  <a target="_blank" href="https://dotblogs.com.tw/bear88130/2017/06/05/093225">MVC 課程</a>有讓我更了解整體網站架構，而且對未來觀念有疊加的幫助</li>
              </ul>
            </details>
          </div>
        </div>
        <div class="containerTime left">
          <div class="content">
            <h5>2017</h5>
            <details>
              <summary>ASP.NET WebForm 官網製作</summary>
              <ul>
                <li>
                  <a target="_blank" href="http://summerhill.com.tw/Default">幼兒園網站</a>
                </li>
                <li>班級加密相簿系統</li>
                <li>預約系統</li>
                <li>搶票功能</li>
                <li>新聞系統</li>
                <li>寄信功能</li>
              </ul>
            </details>
            <details>
              <summary>Azure 使用</summary>
              <ul>
                <li>利用 VS 部屬到 Azure</li>
                <li>利用 VS 建立線上資料庫</li>
              </ul>
            </details>
            <details>
              <summary>GitHub Desktop使用</summary>
              <ul>
                <li>有使用 git 指令上傳</li>
              </ul>
            </details>
            <details>
              <summary>接手 設計套版</summary>
              <ul>
                <li>跟設計師合作</li>
                <li>簡易 CSS DIV 建立</li>
              </ul>
            </details>
            <details>
              <summary>ASP 功能修改和套換版面</summary>
              <ul>
                <li>第一次接觸和修改 ASP 架構</li>
                <li>問答題 換成 選擇題，更動資料庫和程式碼</li>
                <li>
                  <a target="_blank" href="http://krasotaiskusstva.com/ki/?theme=xmas">ASP CSS套版使用版型</a>
                </li>
              </ul>
            </details>
            <details>
              <summary>重構和解藕(初認識)</summary>
              <ul>
                <li>讓後續修改省時間</li>
              </ul>
            </details>
            <details>
              <summary>
                <a target="_blank" href="https://ithelp.ithome.com.tw/users/20107754/ironman/1502"> 2018 iT 邦幫忙鐵人賽 ( 第一次專案的整理 ) </a>
              </summary>
            </details>
          </div>
        </div>
        <div class="containerTime right">
          <div class="content">
            <h5>2018</h5>
            <details>
              <summary>網站優化</summary>
              <ul>
                <li>圖片大小後台程式碼壓縮</li>
                <li>圖片 LazyLoad</li>
                <li>JS 配置優化</li>
                <li>CSS 配置優化</li>
                <li>檔案壓縮</li>
                <li>IIS 壓縮</li>
              </ul>
            </details>
            <details>
              <summary>有稿切版(CSS表單、位置)</summary>
              <ul>
                <li>CSS 表單樣式和位置</li>
                <li>JS Click 和 IMG 互動</li>
              </ul>
            </details>
            <details>
              <summary>搭配客戶和設計師討論切版(限制 Table RWD 切版)</summary>
              <ul>
                <li>只用產出 HTML 切版</li>
                <li>協助後端工程師套版</li>
                <li>checkbox radiobox CSS 刻製化</li>
                <li>SCSS</li>
              </ul>
            </details>
            <details>
              <summary>Gulp 任務管理</summary>
              <ul>
                <li>添加 CSS前贅字</li>
                <li>scss編譯成 css</li>
                <li>壓縮檔案</li>
              </ul>
            </details>
            <details>
              <summary>Angular6</summary>
              <ul>
                <li>
                  <a target="_blank" href="https://bear88130.github.io/commic/">挑戰賽第五週</a>
                </li>
                <li>資料繫結</li>
                <li>參考變數</li>
                <li>子傳父值</li>
              </ul>
            </details>
            <details open>
              <summary>The F2E 修練賽 ( CSS挑戰 )</summary>
              <ul>
                <li>
                  <a target="_blank" href="https://bear88130.github.io/">ToDoList</a> - file CSS </li>
                <li>
                  <a target="_blank" href="https://bear88130.github.io/F2E-2">Filter</a> - bgImg CSS </li>
                <li>
                  <a target="_blank" href="https://bear88130.github.io/F2E-3">Admin Order</a> - Chart.js ( 無RWD )</li>
                <li>
                  <a target="_blank" href="https://bear88130.github.io/F2E-4">Product Gallery</a> - Grid CSS</li>
                <li>
                  <a target="_blank" href="https://bear88130.github.io/commic">Commic</a> - Angular傳值</li>
              </ul>
            </details>
            <details>
              <summary>客戶接洽</summary>
              <ul>
                <li>需求分析</li>
                <li>報價</li>
                <li>企劃書</li>
              </ul>
            </details>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- 圖片 Modal Start -->
  <div class="modal fade" id="lightBoxModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-80" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{lightBoxTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img [src]="lightBoxImg" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- 圖片 Modal End -->

  <footer></footer>

</div>
