<div class="row skill" *ngIf="isSimplify">
  <div class="col-12">
    <h4>Skill</h4>
  </div>
  <div class="col-12">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              Angular
            </button>
          </h5>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <!-- <div class="row mb-5">
              <div class="col-4">
                <p class="text-center">生命週期</p>
                <ul>
                  <li class="text-left">ViewChild 處理</li>
                  <li class="text-left">反覆啟用 component</li>
                  <li class="text-left">"Input" Change事件</li>
                </ul>
              </div>
              <div class="col-4">
                <p class="text-center">基礎應用</p>
                <ul>
                  <li class="text-left">Router 應用</li>
                  <li class="text-left">Component 互相傳值</li>
                  <li class="text-left">HtttpClient 應用</li>
                  <li class="text-left">pipe 應用</li>
                  <li class="text-left">部屬到 IIS</li>
                </ul>
              </div>
              <div class="col-4">
                <p class="text-center">表單 - Template Drive</p>
                <ul>
                  <li class="text-left">Html 端 驗證</li>
                  <li class="text-left">ts 端 驗證</li>
                  <li class="text-left">多重 ngModel 綁定使用</li>
                  <li class="text-left">串接 API</li>
                </ul>
              </div>
              <div class="col-4">
                <p class="text-center">表單 - Reactive Form</p>
                <ul>
                  <li class="text-left">Html 端 表單欄位綁定</li>
                  <li class="text-left">Html 端 動態新增欄位</li>
                  <li class="text-left">ts 端 動態驗證</li>
                  <li class="text-left">串接 API</li>
                </ul>
              </div>
              <div class="col-4">
                <p class="text-center">RxJS</p>
                <ul>
                  <li class="text-left">串接 API Class - 順序處理</li>
                  <li class="text-left">operators 應用 - 數據處理</li>
                  <li class="text-left">operators 應用 - 時間處理</li>
                  <li class="text-left">錯誤處理</li>
                </ul>
              </div>
              <div class="col-4">
                <p class="text-center">特別應用</p>
                <ul>
                  <li class="text-left">上傳即時提示，請求更新</li>
                  <li class="text-left">能開啟並提示 在 IE 上</li>
                  <li class="text-left">JIT 轉 AOT</li>
                  <li class="text-left">Angular4 升級到 8</li>
                </ul>
              </div>
              <div class="col-4">
                <p class="text-center">測試</p>
                <ul>
                  <li class="text-left">Jasmine 單元測試</li>
                  <li class="text-left">Protractor e2e 測試</li>
                </ul>
              </div>
            </div> -->
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <figure>
                  <figcaption>2020 - iT 邦幫忙鐵人賽 - Angular10 實作教學</figcaption>
                  <a target="_blank" href="https://ithelp.ithome.com.tw/users/20107754/ironman/3194">
                    <img src="img/skill-23.jpg" alt="Angular10 實作教學">
                  </a>
                </figure>
              </div>
              <div class="col-lg-6 col-md-12">
                <figure>
                  <figcaption>2019 - iT 邦幫忙鐵人賽 - Angular初期筆記</figcaption>
                  <a target="_blank" href="https://ithelp.ithome.com.tw/users/20107754/ironman/1741">
                    <img src="img/skill-22.png" alt="Angular初期筆記">
                  </a>
                </figure>
              </div>
              <div class="col-lg-6 col-md-12">
                <figure>
                  <figcaption>2018 - Skill Tree - Angular Json應用</figcaption>
                  <a target="_blank" href="https://bear88130.github.io/F2E9/">
                    <img src="img/skill-21.png" alt="2018 - Skill Tree - Angular Json應用">
                  </a>
                </figure>
              </div>
              <div class="col-lg-6 col-md-12">
                <figure>
                  <figcaption>2018 - Validation - Angular驗證</figcaption>
                  <a target="_blank" href="https://bear88130.github.io/validation/">
                    <img src="img/skill-18.png" alt="skill-14">
                  </a>
                </figure>
              </div>
              <div class="col-lg-6 col-md-12">
                <figure>
                  <figcaption>2018 - Commic - Angular傳值</figcaption>
                  <a target="_blank" href="https://bear88130.github.io/commic/">
                    <img src="img/skill-14.png" alt="skill-14">
                  </a>
                </figure>
              </div>
              <div class="col-lg-6 col-md-12">
                <figure>
                  <figcaption>2018 - Angular 初階線上課程</figcaption>
                  <a data-toggle="modal" data-target="#lightBoxModal" href="javascript:"
                    (click)="changeLightBox('15','2018 - Angular 初階線上課程')">
                    <img src="img/skill-15.png" alt="skill-15">
                  </a>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              切版
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <figure>
                  <figcaption>2018 - Parallax scrolling - CSS動畫</figcaption>
                  <a target="_blank" href="https://bear88130.github.io/F2E-8/">
                    <img src="img/skill-20.png" alt="skill-10">
                  </a>
                </figure>
              </div>
              <div class="col-lg-6 col-md-12">
                <figure>
                  <figcaption>2018 - Canvas Game - Canvas動畫 初體驗</figcaption>
                  <a target="_blank" href="https://codepen.io/bear88130/pen/LBxyzO">
                    <img src="img/skill-19.png" alt="skill-10">
                  </a>
                </figure>
              </div>
              <div class="col-lg-6 col-md-12">
                <figure>
                  <figcaption>2018 - file CSS - ToDoList</figcaption>
                  <a target="_blank" href="https://bear88130.github.io/">
                    <img src="img/skill-10.png" alt="skill-10">
                  </a>
                </figure>
              </div>
              <div class="col-lg-6 col-md-12">
                <figure>
                  <figcaption>2018 - bgImg CSS - Filter</figcaption>
                  <a target="_blank" href="https://bear88130.github.io/F2E-2">
                    <img src="img/skill-11.png" alt="skill-11">
                  </a>
                </figure>
              </div>
              <div class="col-lg-6 col-md-12">
                <figure>
                  <figcaption>2018 - Chart.js - Admin Order</figcaption>
                  <a target="_blank" href="https://bear88130.github.io/F2E-3">
                    <img src="img/skill-12.png" alt="skill-12">
                  </a>
                </figure>
              </div>
              <div class="col-lg-6 col-md-12">
                <figure>
                  <figcaption>2018 - Grid CSS - Product Gallery</figcaption>
                  <a target="_blank" href="https://bear88130.github.io/F2E-4">
                    <img src="img/skill-13.png" alt="skill-13">
                  </a>
                </figure>
              </div>
              <div class="col-lg-6 col-md-12">
                <figure>
                  <figcaption>2016 - 輪播圖應用，手刻 CSS </figcaption>
                  <a data-toggle="modal" data-target="#lightBoxModal" href="javascript:"
                    (click)="changeLightBox('3','輪播圖應用，手刻 CSS')">
                    <img src="img/skill-3.png" alt="Forest">
                  </a>
                </figure>
              </div>
              <div class="col-lg-6 col-md-12">
                <figure>
                  <figcaption>2016 - 套版</figcaption>
                  <a data-toggle="modal" data-target="#lightBoxModal" href="javascript:"
                    (click)="changeLightBox('6','套版，還不會考量設計')">
                    <img src="img/skill-6.png" alt="Forest">
                  </a>
                </figure>
              </div>
              <div class="col-lg-6 col-md-12">
                <figure>
                  <figcaption>2016 - BootStrap3.3.7 製作</figcaption>
                  <a data-toggle="modal" data-target="#lightBoxModal" href="javascript:"
                    (click)="changeLightBox('8','利用 BootStrap3.3.7 製作')">
                    <img src="img/skill-8.png" alt="Forest">
                  </a>
                </figure>
              </div>
              <div class="col-lg-6 col-md-12">
                <figure>
                  <figcaption>2015 - 比較特別的頁面樣式 </figcaption>
                  <a data-toggle="modal" data-target="#lightBoxModal" href="javascript:"
                    (click)="changeLightBox('1','比較特別的頁面樣式')">
                    <img src="img/skill-1.png" alt="Forest">
                  </a>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              GitHub
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <figure>
                  <figcaption>一般使用 GitHub Desktop</figcaption>
                  <a target="_blank" href="https://github.com/bear88130">
                    <img src="img/skill-16.png" alt="skill-16">
                  </a>
                </figure>
              </div>
              <div class="col-lg-6 col-md-12">
                <figure>
                  <figcaption>簡易的退回版本、merge測試或正式版本</figcaption>
                  <a target="_blank" href="https://github.com/bear88130">
                    <img src="img/git完課證明.jpg" alt="git完課證明">
                  </a>
                </figure>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <!-- <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
              aria-expanded="false" aria-controls="collapseThree">
              .NET WebForm
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <figure>
                  <figcaption>一般官網 - 2017</figcaption>
                  <a target="_blank" href="http://summerhill.com.tw/">
                    <img src="img/skill-17.png" alt="skill-17">
                  </a>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <div class="col-12 mt-4">
    <h4>Project Experience</h4>
  </div>


</div>